.accessibleTextSize:hover {
  transform: scale(1.5) !important;
  background: rgba( 255, 255, 255, 0.85 ) !important;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ) !important;
  backdrop-filter: blur( 7.5px ) !important;
  -webkit-backdrop-filter: blur( 7.5px ) !important;
  border-radius: 10px !important;
  border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
  color: black !important;
  padding: 0.2rem !important;
}

.accessibleTextSize {
  transition-duration: 1s !important;
  display: inline-block;
}
